<div class="text">
  <h2>Spots In Miami</h2>
  <br>
  <a href="/spots/new" class="btn btn-default spots-button">Add a New Spot</a>
</div>


<div class="container list-of-posts">
  <div class="row">


      <ul>
        <% listOfSpots.forEach((oneSpot) => { %>
          <div class="all-spots col-md-3 col-sm-6">
          <li>
            <img src="<%= oneSpot.image %>" alt="">
            <h3> <%= oneSpot.name %> </h3>
            <p> Work Out Type:
              <br>
              <%= oneSpot.workout %> </p>
            <p> <%= oneSpot.rating %> </p>
            <p> <%= oneSpot.location %> </p>
              <a class="edit-button btn btn-default"href="/spots/<%= oneSpot._id%>">More</a>
            <!-- <a href="/spots/<%= oneSpot._id%>/edit">Edit</a> -->
            <form class="delete-form" action="/spots/<%= oneSpot._id%>/delete" method="post">
              <button class="btn btn-default delete-button"> Delete </button>
            </form>
          </li>
          </div>
      <% }) %>
      </ul>

  </div>
</div>
