
  <div class="sign-in spot-form edit-form">

    <form class="form-login" action="/spots/<%= spotsInfo._id %>" method="post">
      <h2 class=""> Edit Spot </h2>
      <br>
      <br>
      <label for="name-input">Name</label>
      <br>
      <input id="name-input"type="text" name="nameValue" value="<%= spotsInfo.name %>">
      <br>

      <label for="workout-input">Workout Type</label>
      <br>
      <select id="workout" name="workoutValue">
        <option value="Cardio">Cardio</option>
        <option value="Resistance">Resistance</option>
        <option value="Cardio & Resistance">Cardio & Resistance</option>
      </select>
      <br>

      <label for="location-input">Location</label>
      <br>
      <input id="location-input"type="text" name="locationValue" value="<%= spotsInfo.location %>">
      <br>

      <label for="rating-input">Rating</label>
      <br>
      <input id="rating-input"type="text" name="ratingValue" value="<%= spotsInfo.rating %>" placeholder="From 1 to 5">
      <br>

      <p>Displaying Image: </p>
      <img src="<%= spotsInfo.image %>" alt="">
      <br>
      <label for="image-input">Image</label>
      <br>
      <input id="image-input"type="img" name="imageValue" value="<%= spotsInfo.image %>">
      <br>


      <br>
      <button>Save Changes</button>
      <br>
      <br>
      <form id="delete-form" action="/spots/<%= spotsInfo._id%>/delete" method="post">
        <button class="btn btn-default delete-button"> Delete </button>
      </form> -->
    </form>

  </div>
