<div class="container spot-details">
  <h2> <%= spotsInfo.name %></h2>
  <img class="image-detail"src="<%= spotsInfo.image %>" alt="">
  <p> <%= spotsInfo.workout %></p>
  <p> <%= spotsInfo.location %></p>
  <p> <%= spotsInfo.rating %></p>
  <a href="/spots/<%=spotsInfo._id%>/edit">Edit</a>
</div>
