<div class="container spot-details">
  <h2> <%= spotsInfo.name %></h2>
  <img class="image-detail"src="<%= spotsInfo.image %>" alt="">
  <br>
  <br>
  <p> <%= spotsInfo.workout %></p>
  <p> <%= spotsInfo.location %></p>
  <span>  <%= '⭐️'.repeat(spotsInfo.rating) %> </span>
  <br>
  <br>
  <a class="btn btn-default" href="/spots/<%=spotsInfo._id%>/edit">Edit</a>
</div>


<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div> 
