<div class="container profile-page">
  <div class="row ">
    <div class=" calculations col-md-4">
      <a href="profile/edit" class="btn btn-default spots-button-profile">Edit Profile</a>
    </div>
    <div class="calculations col-md-4">
      <a href="#" class="btn btn-default spots-button-profile">Macros / Workout</a>
    </div>
    <div class="calculations col-md-4">
      <a href="#" class="btn btn-default spots-button-profile">Workout Plan</a>
    </div>
  </div>
  <div class="row profile-container">
    <div class="col-md-6">
      <img src="<%=theUser.image%>" alt="">
      <br>
      <br>
      <br>
    </div>
    <h2><%= theUser.name %></h2>

    <div class="col-md-3">

      <p>Height: </p>
      <br>
      <p>Weight: </p>
      <br>
      <p>Activity Level: </p>
      <br>
      <p>Gender: </p>
      <br>
      <p>Age: </p>
    </div>
    <div class="col-md-3">
      <p><%= theUser.height %></p>
      <br>
      <p><%= theUser.weight %></p>
      <br>
      <p><%= theUser.activity %></p>
      <br>
      <p><%= theUser.gender %></p>
      <br>
      <p><%= theUser.age %></p>
    </div>
  </div>
  <!-- <div class="row">
    <a class="col-md-12 col-sm-12 edit-profile-button btn btn-default" href="/profile/edit">Edit Profile</a>
  </div> -->
</div>
<div class="container profile-container profile-page">
  <div class="row stats">
    <div class="col-md-6 macros-bmr-calories">
      <h3>Your Goal is to <%= theUser.goal %> </h3>
      <br>
      <h3> Your BMR is: <%= Math.floor(theUser.bmr) %> Calories</h3>
    </div>
  <%  if(theUser.goal === 'increase mass') { %>
      <div class="col-md-6 macros-bmr-calories">
        <h3>You should be Eating 220 more calories compared to your BMR.</h3>
        <div class="col-md-3 macros-stats">
          <h3> Your macros splits are: </h3>
        </div>
        <div class="col-md-3 macros-stats-grams">
          <p> <%= Math.floor(theUser.weight * 1.5 * 2.2) %> grams of protein </p>
          <p> 45 grams of fat </p>
          <p>
            <%= Math.floor(((theUser.bmr - (((theUser.weight * 1.5 * 2.2) * 4) + (45 * 9 ))) / 4) + 55 )%> grams of carbohidrates
          </p>
        </div>

      </div>
  <%  } %>
  <%  if(theUser.goal === 'reduce weight') { %>
      <div class="col-md-6 macros-bmr-calories">
        <h3>You should be Eating 220 less calories compared to your BMR.</h3>
        <h3> Your macros splits are: </h3>
      </div>
      <div class="col-md-3 macros-stats-grams">
        <p> <%= Math.floor(theUser.weight * 1.5 * 2.2) %> grams of protein </p>
        <p> 45 grams of fat </p>
        <p>
          <%= Math.floor(((theUser.bmr - (((theUser.weight * 1.5 * 2.2) * 4) + (45 * 9 ))) / 4 ) -55 )%> grams of carbohidrates
        </p>
      </div>
  <%  } %>
  <%  if(theUser.goal === 'mantain weight') { %>
      <div class="col-md-6 macros-bmr-calories">
        <h3>You should consume the same calories as your BMR!.</h3>
        <h3> Your macros splits are: </h3>
      </div>
      <div class="col-md-3 macros-stats-grams">
        <p> <%= Math.floor(theUser.weight * 1.5 * 2.2) %> grams of protein </p>
        <p> 45 grams of fat </p>
        <p>
          <%= Math.floor((theUser.bmr - (((theUser.weight * 1.5 * 2.2) * 4) + (45 * 9 ))) / 4  )%> grams of carbohidrates
        </p>
      </div>
  <%  } %>

  </div>
  <div class="row ">
    <div class="col-md-12">
      <p>
        If you have any questions on how this works or how is this calculated please go to the
        <a href="/#FEATURES"> FAQ</a>
      </p>

    </div>
  </div>
</div>
